@font-face {
  font-display: swap;
  font-family: 'Bpmf Huninn';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/bpmf-huninn-v6-latin-regular.woff2') format('woff2');
}


:root {
  --color-primary: #ff9cb4;
  --color-secondary: #808;
  --color-border: #2a2022;

  --color-bg: #000000;
  --color-text: #ffffff;


  color: var(--color-text);
  background: var(--color-bg);


  font-family: 'Bpmf Huninn';
}